<div class="container-fluid projectImg">
    <div class="row">

        <!--<div class="pImages">-->

        <!--</div>-->
        <!--<img src="img/myProject1.png" alt="High Score Haven">-->

        <div class="col-sm-12">
            <figure class="imghvr-flip-vert">
                <img src="img/myProject1.png" href="http://highscore-haven.surge.sh" alt="High Score Haven">
                <figcaption>
                    <a href="http://highscore-haven.surge.sh">High Score Haven</a>
                    <!--High Score Haven-->
                    <h2 class="project-name">
                        High Score Haven
                    </h2>
                    Click to launch
                </figcaption>
            </figure>

            <figure class="imghvr-flip-vert">
                <img src="img/myProject2.png" alt="React Redux Unique Things">
                <figcaption>
                    <a href="https://dbaxter-react-unique-things.herokuapp.com/">React Redux Unique Things</a>
                    <h2 class="project-name">
                        React Redux Unique Things
                    </h2>
                    Click to launch
                </figcaption>
            </figure>


            <figure class="imghvr-flip-vert">
                <img src="img/myProject3.png" alt="Personal Angular API site">
                <figcaption>
                    <h2 class="project-name">
                        Personal Angular API Site
                    </h2>
                    API endpoint currently broken
                </figcaption>
            </figure>

            <figure class="imghvr-flip-vert">
                <img src="img/myProject4.png" alt="Portfolio Website">
                <figcaption>
                    <a href="http://dustinnbaxter.com/#!/"></a>
                    <h2 class="project-name">
                        This Portfolio Website
                    </h2>
                    Click to launch
                </figcaption>
            </figure>


            <figure class="imghvr-flip-vert">
                <img src="img/myProject5.png" alt="Yoda Speak">
                <figcaption>
                    <a href="https://dbaxter-yoda-speak.herokuapp.com/">Yoda Speak API</a>
                    <h2 class="project-name">
                        Yoda Speak API
                    </h2>
                    Click to launch
                </figcaption>
            </figure>


        </div> <!-- Column -->


    </div> <!-- ROW -->
</div> <!-- Container -->