<div class="container-fluid projectImg">
    <div class="row">
        <div class="col-xs-12">
            <div class="pImages">

            </div>
            <!--<img src="img/myProject1.png" alt="High Score Haven">-->

            <figure class="imghvr-flip-vert">
                <img src="img/myProject1.png" alt="High Score Haven">
                <figcaption>
                    <br>
                    High Score Haven
                    <br>
                    GitHub
                </figcaption>
            </figure>

            <figure class="imghvr-flip-vert">
                <img src="img/myProject2.png" alt="K&J Diaries">
                <figcaption>
                    <br>
                    K & J Diaries
                    <br>
                    GitHub
                </figcaption>
            </figure>

            <figure class="imghvr-flip-vert">
                <img src="img/myProject3.png" alt="K&J Diaries">
                <figcaption>
                    <br>
                    Personal Angular API Site
                    <br>
                    GitHub
                </figcaption>
            </figure>

            <figure class="imghvr-flip-vert">
            <img src="img/myProject4.png" alt="K&J Diaries">
            <figcaption>
                <br>
                This Portfolio Website
                <br>
                GitHub
            </figcaption>
        </figure>

            <figure class="imghvr-flip-vert">
                <img src="img/myProject5.png" alt="K&J Diaries">
                <figcaption>
                    <br>
                    Yoda Speak API
                    <br>
                    GitHub
                </figcaption>
            </figure>


        </div>
    </div>
</div>