<section class="home">
    <div id="home"></div>
</section>

<div class="pagebreak"></div>
<section id="intro" class="intro-section">

            <div class="container-fluid clearfix">

                <div id="introduction-header">
                        <div class="introduction">
                            <h3>Hello there, my name is</h3>
                            <h1 style="color: #6E0000; font-weight: 900;">Dustin Baxter</h1>
                            <h3>Web Developer, Programmer, hiker,</h3>
                            <h3>gamer, and Jedi.</h3>
                        </div>
                </div>
            </div>
            <br>
            <br>

</section>

<div class="pagebreak2"></div>
<section id="main">

    <div class="container-fluid clearfix">

        <div id="content">

            <section id="aboutme">
                <about-me></about-me>
            </section>


            <div id="myprojects"></div>

            <div class="pagebreak3" id="myproject">
                <h1>My Projects</h1>
                Some of my adventurous work during my process of learning.
            </div>

            <section id="myprojects2" class="projects" style="margin-right: 0px;">
            <my-projects></my-projects>
            </section>

            <div class="pagebreak4"></div>


            <div id="resume"></div>
            <section id="resume2">

                <my-resume></my-resume>

            </section>
        </div><!-- /#content -->
    </div><!-- /.container -->
</section><!-- /#main -->