<div class="container content">
    <div class="row">
        <div class="col-xs-12">

            <img src="img/0101171459b-01-1.jpg" height="250" width="250"
                 style="border-radius: 100%; margin-top: 100px;"/>
            <br>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <div class="socialMedia" style="display: inline-block;">

                    <div class="email">
                        <a href="mailto:dustinb1022@gmail.com" style="color: #6E0000;">
                        <i class="fa fa-envelope" aria-hidden="true" style="padding-bottom: 5px;"></i>
                    </a>
                    </div>

                        <figure class="imghvr-blur" style="box-shadow: white;">
                            <img src="img/phone.png" id="phone" alt="K&J Diaries">
                            <figcaption style="margin-top: -28px; color: #6E0000; font-size: 22px;
                            width: 300px; text-align: left; margin-left: -12px;">
                                678-755-3159
                            </figcaption>
                        </figure>

                    <div class="github">
                        <a href="https://github.com/dnbaxter">
                            <i class="fa fa-github" style="font-size: 25px; padding-top: 5px; padding-bottom: 5px;" aria-hidden="true"></i>
                        </a>
                    </div>

                    <div class="linkedin">
                        <a href="https://www.linkedin.com/in/dustin-n-baxter/">
                            <i class="fa fa-linkedin-square" style="font-size: 25px; padding-top: 5px; padding-bottom: 5px;" aria-hidden="true"></i>
                        </a>
                    </div>

                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <p style="font-size: 30px;">ABOUT ME</p>
            <div class="row">
                <div class="col-xs-offset-2 col-xs-8 col-xs-offset-2">
                    <p >
                        I am a web developer with knowledge of both front-end and back-end technologies. Roughly about 2
                        years ago after working what felt like a plethora of different jobs, I found my interest and
                        growing passion for computers and programming. I enrolled in BYU-Idaho to work towards my Bachelors
                        of Science in Computer Science, and began programming with C++.
                        <br>
                        <br>
                        Little did I know that I would discover something more than just an interest and passion in
                        programming. I found a love and passion for hiking, and the outdoors. I began to discover a love
                        for this thanks to Idaho and Utah.
                        <br>
                        <br>
                        After completing a couple semesters of BYU-I, and finding my best friend, and partner in crime, I
                        realized that college wasn't going quick enough to jump start my career, especially with a wedding
                        right around the corner, so I decided to look into coding bootcamps. After a long search, I found
                        the bootcamp I desired to attend. With that said, I recently completed over 600 hours of intensive
                        training in Full Stack Web Development at the outstanding
                        <a href="http://vschool.io/en/" style="color: #6E0000;">V School</a> web dev bootcamp.
                        <br>
                        <br>
                        I am knowledgable in many of the most widely used languages, libraries, and frameworks of modern
                        web development, from JavaScript, HTML5, and CSS3, to JQuery, AngularJS, React, NodeJS, Express,
                        and MongoDB.
                    </p>
                    <div class="coding-images">
                        <img src="http://imgur.com/vAD0hkj.png" alt="">
                        <img src="http://imgur.com/iAntQVY.png" alt="">
                        <img src="http://imgur.com/DXxVmhE.png" alt="">
                        <img src="http://imgur.com/EU3l2hl.png" alt="">
                        <img src="http://imgur.com/ADGqIBF.png" alt="">
                        <img src="http://martinkkwan.com/img/techstack/redux-icon.png" alt="">
                        <img src="http://imgur.com/9LmnzqX.png" alt="">
                        <img src="http://imgur.com/lMaDPX1.png" alt="">
                        <img src="http://imgur.com/34qgl0p.png" alt="">
                        <img src="http://imgur.com/reWv1Xh.png" alt="">
                        <img src="http://imgur.com/OLVdZsj.png" alt="">
                        <img src="https://isocpp.org/files/img/cpp_logo.png" alt="">
                        <img src="http://imgur.com/G74hnTX.png" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

